<!-- PARA EVITA QUE USUÁRIO VEJA A LISTA DE ARQUIVOS -->
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kananda Negócios Imobiliários</title>
		<!-- CHAMANDO CSS DO BOOTSTRAP -->
		<link href="css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/estilo.css" rel="stylesheet"/>
	</head>
	<body>
	
	<div class="container-fluid" id="container-site">
		<!-- Cabeçalho do site[PARTE ESTÁTICA] -->
		<header class="row bg-branco" id="header">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <a href="#"><img src="imagens/logo.png" class="img-responsive img-center" /></a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						 </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="#">Inicial <span class="sr-only">(current)</span></a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Imóvel <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
						  </ul>
						</li>
						<li><a href="#">Mapa</a></li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Contato</a></li>
						<li class="active"><a href="#">Pesquisar Imóvel</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
		</header>
		<!-- Corpo do site [PARTE DINAMICA]-->
		<section class="row">
			<!-- CHAMADA PARA O SLIDE SHOW -->
			<article class="col-xs-12 bg-azul title-destaque">
				<h2><strong>Serviços</strong><br><small>
					Confira nossa lista de serviços.</small></h2>
			</article><!-- FIM CHAMADA PARA O SLIDE SHOW -->

			<!-- CHAMADA PARA LISTA DE SERVIÇOS-->
			<article class="col-xs-12 list-servicos">
					
					<section class="row">
						<!-- SERVIÇO -->
						<article class="col-xs-12 item-blue">
							<div class="row">
								<div class="col-md-3">
									<img src="imagens/servicos/compra.jpg" alt="Kananda Negócios Imobiliários - Compra" title="Kananda Negócios Imobiliários - Compra" class="img-responsive img-rounded img-center">
								</div>
								<div class="col-md-9">
									<h3><strong>Compra</strong></h3>
									<p class="text-justify">
										Auxiliamos na compra do imóvel que atenda suas necessidades ou realize seu sonho. Pois, contamos com várias opções de imóveis, para que você faça um investimento seguro, garantindo a valorização do seu patrimônio.
									</p>
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->
						<article class="col-xs-12 item-white">
							<div class="row">
								<div class="visible-xs-block visible-sm-block">
										<img src="imagens/servicos/venda.jpg" alt="Kananda Negócios Imobiliários - venda" title="Kananda Negócios Imobiliários - Venda" class="img-responsive img-rounded img-center">
								</div>
								<div class="col-md-9">
									<h3><strong>Venda</strong></h3>
									<p class="text-justify">
										Você está encontrando dificuldade para vender seu imóvel? Venha para Kananda Negócios Imobiliários, nós cadastramos e divulgamos, e ainda, dispomos de uma equipe de corretores credenciados para agilizar o processo de venda de seu imóvel..
									</p>
								</div>
								<div class="col-md-3 visible-md-block visible-lg-block">
									<img src="imagens/servicos/venda.jpg" alt="Kananda Negócios Imobiliários - venda" title="Kananda Negócios Imobiliários - Venda" class="img-responsive img-rounded img-center">
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->
							<!-- SERVIÇO -->
						<article class="col-xs-12 item-blue">
							<div class="row">
								<div class="col-md-3">
									<img src="imagens/servicos/aluguel.jpg" alt="Kananda Negócios Imobiliários - Aluguel" title="Kananda Negócios Imobiliários - Aluguel"  class="img-responsive img-rounded img-center">
								</div>
								<div class="col-md-9">
									<h3><strong>Aluguel</strong></h3>
									<p class="text-justify">
										Se você deseja alugar um imóvel, disponibilizamos de um vasto leque de opções para atender suas necessidades. No entanto, se você deseja disponibilizar seu imóvel para aluguel, realizamos o cadastramento e divulgação. Após encontrar um cliente, efetuamos a análise cadastral, contratação, vistoria e entrega do imóvel.
									</p>
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->
						<article class="col-xs-12 item-white">
							<div class="row">
								<div class="visible-xs-block visible-sm-block">
									<img src="imagens/servicos/legalizacao.jpg" alt="Kananda Negócios Imobiliários - Legalização de Imóveis" title="Kananda Negócios Imobiliários - Legalização de Imóveis" class="img-responsive img-rounded img-center">
								</div>
								<div class="col-md-9">
									<h3><strong>Legalização de Imóveis</strong></h3>
									<p class="text-justify">
										Conte com nossa equipe para lhe auxiliar na legalização de seu imóvel. Tenha um imóvel legalizado e obtenha segurança de propriedade, bem como, facilite o processo de venda/aporte através de financiamento habitacional.
									</p>
								</div>
								<div class="col-md-3 visible-md-block visible-lg-block">
									<img src="imagens/servicos/legalizacao.jpg" alt="Kananda Negócios Imobiliários - Legalização de Imóveis" title="Kananda Negócios Imobiliários - Legalização de Imóveis" class="img-responsive img-rounded img-center">
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->
							<!-- SERVIÇO -->
						<article class="col-xs-12 item-blue">
							<div class="row">
								<div class="col-md-3">
									<img src="imagens/servicos/loteamento.jpg"  alt="Kananda Negócios Imobiliários - Loteamentos" title="Kananda Negócios Imobiliários - Loteamentos" class="img-responsive img-rounded img-center">
								</div>
								<div class="col-md-9">
									<h3><strong>Loteamentos</strong></h3>
									<p class="text-justify">
										Realizamos a legalização de loteamentos junto aos órgãos competentes, uma vez que possuímos experiência nesse ramo. Além disso, contamos com uma equipe de corretores credenciados para lhe proporcionar rapidez e segurança na venda dos lotes.
									</p>
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->
						<article class="col-xs-12 item-white">
							<div class="row">
								<div class="col-md-3 visible-xs-block visible-sm-block">
									<img src="imagens/servicos/avaliacao.jpg" alt="Kananda Negócios Imobiliários - Loteamentos" title="Kananda Negócios Imobiliários - Loteamentos" class="img-responsive img-rounded img-center">
								</div>

								<div class="col-md-9">
									<h3><strong>Avaliação de Imóveis</strong></h3>
									<p class="text-justify">
										Possuímos profissionais qualificados (cadastrados no CNAI – Conselho Nacional de Avaliadores de Imóveis), dando-lhe maior segurança na emissão do PTAM – Parecer Técnico de Avaliação Mercadológica, para determinar o valor de mercado do seu imóvel.
									</p>
								</div>
								<div class="col-md-3 visible-md-block visible-lg-block">
									<img src="imagens/servicos/avaliacao.jpg" alt="Kananda Negócios Imobiliários - Loteamentos" title="Kananda Negócios Imobiliários - Loteamentos" class="img-responsive img-rounded img-center">
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->
						<!-- SERVIÇO -->
						<article class="col-xs-12 item-blue">
							<div class="row">
								<div class="col-md-3">
									<img src="imagens/servicos/correspontende_caixa.png" alt="Kananda Negócios Imobiliários - Correspondente Caixa" title="Kananda Negócios Imobiliários - Correspondente Caixa" class="img-responsive img-rounded img-center">
								</div>
								<div class="col-md-9">
									<h3><strong>Correspondente Caixa</strong></h3>
									<p class="text-justify">Pensando na sua comodidade, a Kananda Negócios Imobiliários disponibiliza para você os serviços do Correspondente Caixa Aqui Negocial:
									</p>
									<ul>
										<li>Financiamento habitacional;</li>
										<li>Empréstimo consignado (servidor público municipal);</li>
										<li>Abertura de conta PF;</li>
										<li>Consórcios; </li>
										<li>Solicitação de:
											<ul>
												<li>Cartão de crédito;</li>
												<li>Cheque especial;</li>
												<li>CDC (Crédito Direto Caixa).</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>	
						</article><!-- FIM SERVIÇO -->					
						
					</section>

			</article><!-- FIM LISTA DE SERVIÇOS-->
		</section>

		<!-- Rodapé do site[PARTE ESTÁTICA] -->
		<footer class="row" id="rodape">
			<section class="col-xs-12">
				<article class="col-md-3 col-lg-3">
				<h3><strong>Sobre</strong></h3>
				<p class="text-justify">A empresa Gusmão Empreendimentos, com o objetivo inovador, iniciou suas atividades no ano de 2008 na cidade de Itaituba. Os irmãos Queila Gusmão e Alex Gusmão, com empreendedorismo e uma ... <a href="">continua lendo &raquo;</a> </p>
				</article>
				<article class="col-md-offset-2 col-md-offset-2 col-md-4 col-lg-4">
					<h3><strong>Contato</strong></h3>
					<ul class="list-unstyled">
						<li>Rua 4ª  (Quarta), nº 361 - Floresta</li>
						<li>Cep: xxxxxx-xxx</li>
						<li>Itaituba / PA</li>
						<li><strong>Fone:</strong> (093) 3518-0367</li>
						<li><strong>E-mail:</strong> contato@kananda.imb,br</li>
					</ul>
				</article>
				<article class="col-md-3 col-lg-3">
					<h3><strong>Horário de atendimento</strong></h3>
					<ul class="list-unstyled">
						<li>Nósso horário de antendimento:</li>
						<br>
						<li><strong>Segunda a Sexta</strong></li>
						<li>08:00h as 13:00h | 14:00h as 18:00h</li>
					</ul>
				</article>
				<footer class="col-xs-12"><hr>
					<p class="text-center">
					&copy; 2008-2016 - Kananda.imb.br | Todos os direitos reservados <br>
					É proibida a reprodução total ou parcial de qualquer conteúdo deste site.</p>
				</footer>
			</section>
		</footer><!-- FIM Rodapé do site[PARTE ESTÁTICA]-->
	</div>
	
	<!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- CHAMANDO JS DO BOOTSTRAP -->
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>