<!-- PARA EVITA QUE USUÁRIO VEJA A LISTA DE ARQUIVOS -->
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kananda Negócios Imobiliários</title>
		<!-- CHAMANDO CSS DO BOOTSTRAP -->
		<link href="css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/estilo.css" rel="stylesheet"/>
	</head>
	<body>
	
	<div class="container-fluid" id="container-site">
		<!-- Cabeçalho do site[PARTE ESTÁTICA] -->
		<header class="row bg-branco" id="header">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <a href="#"><img src="imagens/logo.png" class="img-responsive img-center" /></a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						 </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="#">Inicial <span class="sr-only">(current)</span></a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Imóvel <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
							<li><a href="#">Loteamento kkkkkkkk kk</a></li>
							<li><a href="#">Casa</a></li>
						  </ul>
						</li>
						<li><a href="#">Mapa</a></li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Contato</a></li>
						<li class="active"><a href="#">Pesquisar Imóvel</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
		</header>
		<!-- Corpo do site [PARTE DINAMICA]-->
		<section class="row">
			<!-- CHAMADA PARA O SLIDE SHOW -->
			<article class="col-xs-12 bg-azul title-destaque">
				<h2><strong>Sobre</strong><br><small>
					Quem nós somos.</small></h2>
			</article><!-- FIM CHAMADA PARA O SLIDE SHOW -->

			<!-- CHAMADA PARA LISTA DE SERVIÇOS-->
			<article class="col-xs-12 list-container">
					
					<section class="row">
						<!-- sobre -->
						<article class="col-xs-12">
							<img src="imagens/sobre.jpg"  class="img-center img-rounded img-responsive" title="Kananda Negócios Imobiliários - sobre "  alt="Kananda Negócios Imobiliários - sobre ">
						<h3 >Histórico</h3>
						<p class="text-justify">A empresa Gusmão Empreendimentos, com o objetivo inovador, iniciou suas atividades no ano de 2008 na cidade de Itaituba. Os irmãos Queila Gusmão e Alex Gusmão, com empreendedorismo, deram início ao seu primeiro projeto, o Loteamento Novo Paraíso. A fase inicial foi um sucesso com 450 lotes, todos vendidos.</p>
						<p class="text-justify">
							Visando atender a carência de moradias no município, em novembro de 2009, iniciaram as obras de um novo empreendimento, um projeto residencial, a venda de imóveis através do programa minha casa minha vida.
						</p>
						<p class="text-justify">
							Já com melhor estrutura, em janeiro de 2010, firmaram parceria com a Caixa Econômica Federal para financiamento e venda de imóveis, e, em março de 2010, foram entregues as primeiras unidades construídas, deixando seus clientes felizes pela conquista da casa própria.
						</p>
						<p class="text-justify">
							Em 2011 a empresa Gusmão Empreendimentos passou a atuar somente no planejamento e execução das obras residenciais, pois as vendas ficaram na responsabilidade de uma nova empresa que nasceu da parceria entre os irmãos Queila Gusmão e Gutemberg Gusmão: a Kananda Negócios Imobiliários, que, em janeiro de 2011 fixou-se como Credenciada Caixa, onde passou a ofertar os produtos e serviços do Caixa Aqui Negocial.
						</p>
						<p class="text-justify">
							No ano de 2012, a Kananda inicia o projeto de vendas da segunda fase do Loteamento Novo Paraíso, o lançamento dessa nova etapa, se deu pela grande satisfação e confiança dos clientes que compraram lotes na etapa anterior, além da eminente demanda de clientes interessados em adquirir lotes.
						</p>
						<p class="text-justify">
							Em 2013, a Kananda firmou um novo e importante contrato, a legalização do Loteamento Campo Belo. Contrato audacioso, pois seria a primeira legalização de Loteamentos a nível estadual, já que este loteamento apresentava em seu projeto mais de cinco mil lotes.
						</p>
						<p class="text-justify">
							A legalização do Loteamento Campo Belo foi concluída com êxito em junho de 2014, e propiciou o lançamento das vendas em outubro daquele ano, onde, a Kananda participou coordenando uma das três equipes de venda, e por seu sucesso nas mesmas, hoje tem a exclusividade de vendas deste empreendimento.
						</p>
						<p class="text-justify">
							No Ano de 2015 a kananda realizou mais uma conquista para melhor atender seus clientes e parceiros: adquiriu sua sede Própria. 
						</p>
						<p class="text-justify">
							Nesse ano de 2016 implementou um novo projeto, pois está disponibilizando um novo canal de acesso na web, o site www.kananda.imb.br.
						</p>
						<p class="text-justify">
							Desta forma, a Kananda Negócios Imobiliários vem cada vez mais se solidificando no mercado imobiliário local. Isso se deve pela implementação de suas ações empresariais inovadoras, sua busca constante de parcerias, pela excelência na realização dos serviços e projetos em que participa.
						</p>
						<h3 >Caracterização</h3>
						<p ><strong>Nome Fantasia: </strong>KANANDA NEGÓCIOS IMOBILIÁRIOS.</p>
						<p><strong>Razão Social: </strong>KANANDA NEGÓCIOS IMOBILIÁRIOS LTDA.</p>
						<p ><strong>Diretora Geral:</strong><br>
						QUEILA REGINA ROCHA GUSMÃO - CRECI nº 7640 12ª Região PA/AP<br><br>
						<strong>Gerência de Vendas</strong><br>
						CRISTIANO GHIZONI DECINI - CRECI nº 7632 12ª Região PA/AP 
						</p>

						<p><strong>Endereço:  </strong><br>
						Rua Quarta (4ª), nº 361, bairro Floresta, Itaituba – PA, CEP: 68.181-300. </p>
						<p><strong>Fone: </strong> (93) 3518-0367. <br>
						<strong>Cel.: </strong>(93) 99134-0326 <br>
						<strong>Cel.: </strong>(93) 98124-3015 <br>
						<strong>E-mail:  </strong>contato@kananda.imb.br <br>
						<strong>Site: </strong>www.kananda.imb.br <br>
						</p>

						<h3 ><strong>Propósitos empresariais</strong></h3>
						<h5 ><strong>Missão</strong></h5>
						<p class="text-justify">
							Promover Negócios Imobiliários com eficácia e profissionalismo, de forma a superar as expectativas de nossos clientes e parceiros, por meio da excelência, credibilidade e inovação.
						</p>
						<h5 ><strong>Visão</strong></h5>
						<p class="text-justify">
						Ser reconhecida no município de Itaituba e região como referência na prestação de Negócios Imobiliários até 2020.
						</p>
						<h5 ><strong>Princípios e Valores</strong></h5>
						<ul>
							<li class="text-justify">Ética;</li>
							<li class="text-justify">Transparência;</li>
							<li class="text-justify">Valorização;</li>
							<li class="text-justify">Respeito;</li>
							<li class="text-justify">Profissionalismo;</li>
							<li class="text-justify">Parceria;</li>
							<li class="text-justify">Comprometimento;</li>
							<li class="text-justify">Segurança;</li>
						</ul>
						<h5 ><strong>SLOGAN</strong></h5>
						<p>Uma Relação de Confiança!</p>
						</article>				
						
					</section>

			</article><!-- FIM LISTA DE SERVIÇOS-->
		</section>

		<!-- Rodapé do site[PARTE ESTÁTICA] -->
		<footer class="row" id="rodape">
			<section class="col-xs-12">
				<article class="col-md-3 col-lg-3">
				<h3><strong>Sobre</strong></h3>
				<p class="text-justify">A empresa Gusmão Empreendimentos, com o objetivo inovador, iniciou suas atividades no ano de 2008 na cidade de Itaituba. Os irmãos Queila Gusmão e Alex Gusmão, com empreendedorismo e uma ... <a href="">continua lendo &raquo;</a> </p>
				</article>
				<article class="col-md-offset-2 col-md-offset-2 col-md-4 col-lg-4">
					<h3><strong>Contato</strong></h3>
					<ul class="list-unstyled">
						<li>Rua 4ª  (Quarta), nº 361 - Floresta</li>
						<li>Cep: xxxxxx-xxx</li>
						<li>Itaituba / PA</li>
						<li><strong>Fone:</strong> (093) 3518-0367</li>
						<li><strong>E-mail:</strong> contato@kananda.imb,br</li>
					</ul>
				</article>
				<article class="col-md-3 col-lg-3">
					<h3><strong>Horário de atendimento</strong></h3>
					<ul class="list-unstyled">
						<li>Nósso horário de antendimento:</li>
						<br>
						<li><strong>Segunda a Sexta</strong></li>
						<li>08:00h as 13:00h | 14:00h as 18:00h</li>
					</ul>
				</article>
				<footer class="col-xs-12"><hr>
					<p class="text-center">
					&copy; 2008-2016 - Kananda.imb.br | Todos os direitos reservados <br>
					É proibida a reprodução total ou parcial de qualquer conteúdo deste site.</p>
				</footer>
			</section>
		</footer><!-- FIM Rodapé do site[PARTE ESTÁTICA]-->
	</div>
	
	<!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- CHAMANDO JS DO BOOTSTRAP -->
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>