@charset "UTF-8";
@font-face{
	font-family: "dosis-medium";
	src: url(../fonts/dosis-medium.ttf);
}
body{
	font-family: "dosis-medium";
	font-size: 16px;
}
/*
	CLASSES GLOBAIS
*/
.bg-branco{
	background: white;
	padding: 0.625em 0;
}
.bg-branco{
	background: white;
	padding: 0.625em 0;
}
.bg-azul{
	background: #0A87CC;
	padding: 0.625em 0;
}
.carousel{margin: 1.875em 0; border: 10px solid white;}
.float-right{float: right;}
.float-lef{float: left;}
.img-responsive{width: 100%;}
.img-center{display: block; margin:0 auto;}
/*
	HEADER
*/
#header{
	border-bottom: 5px solid #005F7D;
}
#header img{
	min-width: 200px;
	height: auto;
	max-width: 300px;
}
#header .navbar{
	border-radius: 0;
	margin-bottom:0;
	padding-bottom: 10px;
}
.navbar-default{
	background: none;
	border: none;
}
.navbar-default .navbar-nav>li>a{
	color: #585656;
	font-size: 1em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,.navbar-default .dropdown-menu>li>a:hover {color: #fff;background-color: #0a87cc; font-size: 1em;}
.navbar-default .navbar-toggle .icon-bar{background: white;}
.navbar-default .navbar-toggle{background:#005F7D;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background:#01A3D8;}

/*
	FOOTER
*/
footer#rodape{
background-image:-moz-linear-gradient(50% 0% -180deg,rgb(245,245,245) 0%,rgb(250,250,250) 48%,rgb(250,250,250) 48%,rgb(238,238,238) 49%,rgb(255,255,255) 99%); 
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(245,245,245)),color-stop(0.48, rgb(250,250,250)),color-stop(0.48, rgb(250,250,250)),color-stop(0.49, rgb(238,238,238)),color-stop(0.99, rgb(255,255,255)));
background-image:-webkit-linear-gradient(-180deg,rgb(245,245,245) 0%,rgb(250,250,250) 48%,rgb(250,250,250) 48%,rgb(238,238,238) 49%,rgb(255,255,255) 99%);
background-image:-o-linear-gradient(-180deg,rgb(245,245,245) 0%,rgb(250,250,250) 48%,rgb(250,250,250) 48%,rgb(238,238,238) 49%,rgb(255,255,255) 99%);
background-image:-ms-linear-gradient(-180deg,rgb(245,245,245) 0%,rgb(250,250,250) 48%,rgb(250,250,250) 48%,rgb(238,238,238) 49%,rgb(255,255,255) 99%);
background-image:linear-gradient(-180deg,rgb(245,245,245) 0%,rgb(250,250,250) 48%,rgb(250,250,250) 48%,rgb(238,238,238) 49%,rgb(255,255,255) 99%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffffffff,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffffffff,GradientType=0);

border-top: 10px solid #005F7D;
}
/*
	CONTAINER
*/
.container-slide {
	margin: 1.875em 0;
}
.carousel-control.right, .carousel-control.left{
	background: none!important;
}
.list-imoveis{padding: 0 5em;}
.thumbnail{background: none;padding:0;}
.thumbnail  .dest-img{padding: 0.625em 0;background: #01A3D8;border-bottom:10px solid #005F7D;}
.thumbnail  .dest-img a{color: white;}
.thumbnail  .dest-img a:hover{text-decoration:none;}
.thumbnail .caption a{color: #005F7D; font-weight: bold; display: block;}
.thumbnail .caption a:hover{color: #005F7D; text-decoration:none;}
.thumbnail .dest-img .title-nome{font-weight:bold;}
.thumbnail .dest-img .title-endereco{font-weight: normal;}
.ic-qua, .ic-ba, .ic-gar, .ic-larg, .ic-comp, .ic-are{width: 18px;height: 16px; display:inline-block;}
.ic-larg{background: url(../imagens/icones.png) -3px -3px no-repeat;}
.ic-comp{background: url(../imagens/icones.png) -3px -21px no-repeat;}
.ic-are{background: url(../imagens/icones.png) -3px -39px no-repeat;}

.ic-qua{background: url(../imagens/icones.png) -26px -3px no-repeat;}
.ic-ba{background: url(../imagens/icones.png) -26px -21px no-repeat;}
.ic-gar{background: url(../imagens/icones.png) -26px -39px no-repeat;}
.ic-mais{width: 25px;height: 25px; display:inline-block; background: #01A3D8; text-align: center; color: white;}
.thumbnail hr{margin: 5px 0;}
.thumbnail img{min-width: 100px; max-width:350px; height: auto;}
.thumbnail .caption{color: #242415;}


.title-destaque{
	padding-left: 5em;
	padding-right: 5em;
	margin: 1.5em 0;
	color: white;
	border-top: 4px solid #005F7D;
	border-bottom: 4px solid #005F7D;
}
.title-destaque small{color:#d8d1d1;}
.list-servicos{font-size: 19px;}
.list-servicos img{max-width: 300px;}
.list-servicos .item-white, .list-servicos .item-blue{ border-top:3px solid #005F7D; border-bottom: : 3px solid #005F7D; padding: 0.6em 5em;}
.list-servicos .item-blue {background: #20B8FF; color:white;}
.list-servicos .item-white h3, .list-servicos .item-blue h3{margin-top:2em;}
.list-container { padding: 0.6em 5em;}
.mapa #mapa{
width: 100%;
height: 230px;
vertical-align: middle;
margin-bottom: 6px;

}
.form-contato{}

.form-contato .input-group-addon:first-child, .form-contato .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .form-contato textarea.form-control, .form-contato button, .form-contato  input[type=button], input[type=reset], .form-contato input[type=submit]{border: 3px solid #01A3D8;}
.form-contato .input-group-addon:first-child{border-right: none;}
.form-contato .input-group{margin: 10px 0;}
/*
	Medias
*/
@media (min-width: 768px){
	.navbar-right{margin-top: 1.3em;margin-right: 1.875em;}
	.menu-rodape{ line-height: 95px;}
}
@media (max-width: 900px){
	.list-servicos .item-white, .list-servicos .item-blue{padding: 0.6em 2em;}
	.list-container { padding: 0.6em 2em;}
}
